@model DrugSystem.Service.Models.DrugUnitAssociatedViewDataDTO
@{
    ViewBag.Title = "DepotsInfo";
}

<h2>DepotsInfo</h2>
<table>
    <tr>
        <td>CountryName</td>
        <td>@Model.CountryName</td>
    </tr>
    <tr>
        <td>DepotName</td>
        <td>@Model.DepotName</td>
    </tr>
    <tr>
        <td>DrugTypeName</td>
        <td>@Model.DrugTypeName</td>
    </tr>
    <tr>
        <td>DrugUnitID</td>
        <td>@Model.DrugUnitID</td>
    </tr>
    <tr>
        <td>PickNumber</td>
        <td>@Model.PickNumber</td>
    </tr>
</table>
