@model DrugSystem.Service.Models.DrugUnitAssociatedViewDataDTO
@{
    ViewBag.Title = "DepotsInfo";
}

<h2>DepotsInfo</h2>

@Model.CountryName
<br/>
@Model.DepotName
<br />
@Model.DrugTypeName
<br />
@Model.DrugUnitID
<br />
@Model.PickNumber