@model DrugsSystem.WebUI.Models.DrugUnitWithDepotViewModel

@{
    ViewBag.Title = "DrugUnitDepot";
}

<h2>DrugUnitDepot</h2>

@using (Html.BeginForm())
{
    <input type="submit" class="btn btn-primary" value="Save" />
 
        <table>
            @for (int i = 0; i < Model.DrugUnits.Count; i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(x => x.DrugUnits[i].DrugUnitID, Model.DrugUnits[i].DrugUnitID)
                        @Html.HiddenFor(x => x.DrugUnits[i].DrugUnitPickNumber, Model.DrugUnits[i].DrugUnitPickNumber)

                        @Html.LabelFor(x => x.DrugUnits[i].DrugUnitPickNumber, Model.DrugUnits[i].DrugUnitPickNumber)
                    </td>
                    <td>
                        @Html.ValueFor(x => x.DrugUnits[i].DrugUnitPickNumber, Model.DrugUnits[i].DrugUnitPickNumber.ToString())
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.DrugUnits[i].SelectedDepotID, Model.SelectItem(Model.Depots, Model.DrugUnits[i].SelectedDepotID), new { @class = "form-control" })
                    </td>
                </tr>
            }
        </table>
        for (int j = 0; j < Model.Depots.Count; j++)
        {
            @Html.HiddenFor(model => Model.Depots[j].Selected)
            @Html.HiddenFor(model => Model.Depots[j].Text)
            @Html.HiddenFor(model => Model.Depots[j].Value)
        }
}